*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
@font-face {
    font-family: minhaFonte;
    src: url(HallowenInline.ttf);
}
header{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.titulo{
    color: orange;
    text-align: center;
    font-family: minhaFonte;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5vw;
    width: 40vw;
    color: orange;
    font-family: minhaFonte;
}
main{
    display: flex;
    height: 60vh;
}
.imagensHallowen{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: orange;
}
.imageBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 60%;
    font-family: minhaFonte;
}
.Abobora{
    width: 60%;
    height: 27vh;
}
.Hallowen{
    width: 60%;
}
.Esqueleto{
    width: 70%;
}

.Copyright{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}
.imageCopy{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
}
.textCopy{
    color: orange;
    font-family: minhaFonte;
}
.Linkedin{
    width: 55%;
}
.FaceBook{
    width: 15%;
}